body{
  font-family: "Source Sans Pro";
}
.left-signup{
  display: flex;
  justify-content: center;
  padding-top: 30%;
  padding-bottom: 29%;
  background-color: rgba(227, 247, 255, 1);
}

.right-signup{
  display: flex;
  flex-direction: column;
  padding:  30% 10% ;
}

.logo{display: flex; justify-content: center; align-items: center; margin-bottom: 5%;}

.step-one{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.signup-part{
  justify-content: start;
  display: flex;
}